.select {
    width: 100%;
    
}

.select-width {
    width: 100%;
    
}

.select-style {
  padding-right: 10rem;
  border-radius: 10px;
  border: 2px solid black !important;
  font-size: 0.8em;
  padding: 10px;
  outline: none;
}