/* styles.css */
.header-componet {
    text-align: left; 
    margin: auto;
    font-weight: 900;
    font-size: 2rem;
    display: flex;
    outline: none;
}

.header-componet a {
    color: #000000;
}
.header-componet a:hover {
  color: #000000;
}

.button-tese:focus {
    color: #000000 !important;
}

.header-component-question{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header-component-question a{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.8rem;
    color: #000000;
}