.columns .is-three-quarters{
  margin-top: 1%;
  margin-bottom: 5%;
  margin-left: 1%;
}

.calendar-nav{
  background: lightslategray;
  padding: 1px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-right: 10%;
  border: 1px solid #030303;
  justify-content: space-between;  
  align-items: center;
  display:flex;
}

.calendar-title{
  border-left: 1px solid #030303;
  border-right: 1px solid #030303 ;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color:#030303; 
  text-align: center;
}

.calendar-body{
  margin-right: 10%;
}

.calendar-weekdays{
  border-left:1px solid #030303 ;
  border-right: 1px solid #030303;
  display:flex;
  padding: 2%;
}

.calendar-weekday {
  flex-basis: 14.28%;
  text-align: center;
  font-weight: bold;
  border-top: 3px solid #030303;
  border-bottom: 3px solid #030303;
  padding: 1px;
}

.calendar-days{
  border-left:1px solid #030303 ;
  border-right: 1px solid #030303;
  border-bottom: 1px solid #030303;
  display:flex;
  flex-wrap: wrap;
}

.calendar-day{
  flex-basis: calc(100% / 7);
  text-align: center;
  font-weight: bold;
  padding: 20px;
  box-sizing: border-box;
}
 
