.columns .is-three-quarters{
  margin-top: 1%;
  margin-bottom: 5%;
  margin-left: 1%;
}

.calendar-nav{
<<<<<<< HEAD
    -webkit-aling-items: center;
    align-items: center;
    background: #808080;
    color: white;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    font-size: 1.5rem;
    padding: 0.5rem;

}

.calendar-nav-left, .calendar-nav-rigth{
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}

.button{
    text-decoration: none;
    color:white;
      background: transparent;
      color: gainsboro;
}

.calendar-nav-left{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.calendar-nav-rigth{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.calendar-header, .calendar-body{
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -ms-flex-pack: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    padding: .2rem 0;   
}

.calendar-body .calendar-date{
    -webkit-flex: 0 0 14.28%;
    -ms-flex: 0 0 14.28%;
    flex: 0 0 14.28%;
    max-width: 14.28%;
}
  .calendar-header{
    background: darken(5%);
    color: white;
    font-size: 1rem;
  }

  .calendar-body{
    color: gray;
  }

  .calendar-date{
    border: 0;
    padding: .4rem;
  }

  .date-item{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: .1rem solid transparent;
  border-radius: 100%;
  color:text;
  cursor: pointer;
  height: 2.8rem;
  line-height: 2rem;
  outline: none;
  padding: .3rem;
  position: relative;
=======
  background: lightslategray;
  padding: 1px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-right: 10%;
  border: 1px solid #030303;
  justify-content: space-between;  
  align-items: center;
  display:flex;
}

.calendar-title{
  border-left: 1px solid #030303;
  border-right: 1px solid #030303 ;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color:#030303; 
>>>>>>> origin/feature/vista-calendar
  text-align: center;
}

.calendar-body{
  margin-right: 10%;
}

.calendar-weekdays{
  border-left:1px solid #030303 ;
  border-right: 1px solid #030303;
  display:flex;
  padding: 2%;
}

.calendar-weekday {
  flex-basis: 14.28%;
  text-align: center;
  font-weight: bold;
  border-top: 3px solid #030303;
  border-bottom: 3px solid #030303;
  padding: 1px;
}

.calendar-days{
  border-left:1px solid #030303 ;
  border-right: 1px solid #030303;
  border-bottom: 1px solid #030303;
  display:flex;
  flex-wrap: wrap;
}

.calendar-day{
  flex-basis: calc(100% / 7);
  text-align: center;
  font-weight: bold;
  padding: 20px;
  box-sizing: border-box;
}


<<<<<<< HEAD
&.is-disabled
  .date-item, .calendar-event{
    cursor: default;
    opacity: .25;
    pointer-events: none;
  }
=======
>>>>>>> origin/feature/vista-calendar


