.modal-users{
  display: flow-root;
  text-align: left;
  font-size: larger;
  font-family: 'Poppins';
  position: sticky;
  border-radius: 1.5rem;
  color: black;
  opacity: 1;
}

.modal-register{
  display: flow-root;
  text-align: center;
  font-size: larger;
  font-family: 'Poppins';
  position: sticky;
  border-radius: 1.5rem;
  color: black;
}


  
