.modal-users{
  display: flow-root;
  text-align: left;
  font-size: larger;
  font-family: 'Poppins';
  position: sticky;
  border-radius: 1.5rem;
  color: black;
  opacity: 1;
}

.modal-register {
  display: flow-root;
  text-align: center;
  font-size: larger;
  font-family: 'Poppins';
  position: sticky;
  border-radius: 1.5rem;
  color: black;
}

.modal-body {
  -webkit-overflow-scrolling: touch;
  background-color: #b9e2e2;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  padding: 20px;
  border-radius: 2rem;
}

.button-style-modal {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 25px;
    align-items: baseline;
}

.modal-title{
  color: #000000;
  font-weight: 700;
  font-size: 1.3rem
}

.hr-modal{
  background-color: black;
  margin: auto
}

.modal-margen-title{
  display: flex;
  justify-content: space-between;
}
.columns-margen{
  margin-top: 30px;
}